* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-size: cover;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.fa-cat {
  color: #E0218A; 
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.nav-link {
  font-size: 2rem;
  color: #E0218A;
  font-family: "Anton Sc";
  transition: transform 0.5s, color 0.3s;
  text-decoration: none;
  margin-right: 20px;
  font-family: "Bebas Neue", sans-serif;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-10px);
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

