* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #f0f0f0;
}

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  z-index: 1;
}

.fa-cat {
  color: #E0218A; 
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.nav-link {
  font-size: 2rem;
  color: #E0218A;
  text-decoration: none;
  margin-right: 20px;
  font-family: 'Bebas Neue', sans-serif;
  transition: transform 0.5s, color 0.3s;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-10px);
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.left-container, .right-container {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 189, 214, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #E0218A;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  margin: 0;
}

.subtitle {
  font-family: 'Manrope', sans-serif;
  font-size: 1.5em;
  margin: 10px 0 0;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel img {
  width: 100%;
  border-radius: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  z-index: 2;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
